.Me{
color: white;
background-color: black;
}
.NoMe{background-color: yellow;
}
.Me, .NoMe {
    font-size: 28px;
    font-family: 'Times New Roman', sans-serif, Helvetica;
    border:2px; 
    border-style: outset;
}