body {
    background-color: #364371;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}
#nav {
    background-color: #B0CFFF;
    float:left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 140px;
    height: 28em;

}
#content {
    background-color: #5B7FBD; 
    padding-right: 20px;
    padding-top: 10px;
    width: 38em;
    height: 28em;
    margin: 10px 10p; /* Center it horizontally */
}
#content li {
    list-style-type: none;
    text-align: center;
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}
p.copyright {
  position: relative;
  top: 20px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}
